@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

body {
  font-family: 'DM Sans', sans-serif;
  /* max-width: 1500px; */
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

h1{
  @apply text-[80px] font-semibold;
  font-family: 'sora';
}
h2 {
  @apply text-[40px] font-medium;
  font-family: 'DM Sans', sans-serif;
}

h3 {
  @apply text-[32px] font-semibold;
  font-family: 'DM Sans', sans-serif;
}

h4 {
  @apply font-semibold;
  font-family: 'DM Sans', sans-serif;
}

.p1 {
  @apply text-[18px] font-normal;
  font-family: 'DM Sans', sans-serif;
}

.p2 {
  @apply text-[16px] font-normal;
  font-family: 'DM Sans', sans-serif;
}
